.container_meusprojetos{
    width: 100%;
    height: 600px;
    display: grid;
    background-color: #000;
    position: relative;
    justify-items: center;
}
.imagens_projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.titulo_meusprojetos{
    display: flex;
    color: #3BA2EC;
    font-size: 64px;
}
.img_projeto{
    border: groove;
    border-color: #FFF;
    border-radius: 10px;
    margin: 0 50px;
    display: inline;
    width: 350px;
    height: 300px;
}

.img_projeto:hover{
    
    opacity: 0.5;
    cursor: pointer;
}

.titulo_img_projeto{
    font-size: 29px;
    color: #FFF;
    padding: 10px 40px;
    text-decoration: none;
    background-color: #3BA2EC;
    border-radius: 10px;
}

.titulo_img_projeto:hover{
    background-color:#FFF;
    color: #3BA2EC;
}

.container_projeto_imagem{
    display: flex;
}

@media only screen and (max-width: 390px){
    
    .titulo_meusprojetos{
        text-align: center;
        display: block;    
    }
    .container_meusprojetos{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }
    .container_projeto_imagem{
        display: flex;
        flex-direction: column;
    }
    .imagens_projetos{
        padding: 10px 0;
    }
    .img_projeto{
        margin: 15px 0;
    }

}

@media screen and (min-width: 390px) and (max-width: 900px){
    .titulo_meusprojetos{
        text-align: center;
        display: block;    
    }
    .container_meusprojetos{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }
    .container_projeto_imagem{
        display: flex;
        flex-direction: column;
    }
    .imagens_projetos{
        padding: 10px 0;
    }
    .img_projeto{
        margin: 15px 0;
    }
}